*
!.gitignore
!README.md
!hypr
!hypr/**
hypr/monitors.conf
hypr/floating.conf
hypr/dock_mode.sh
hypr/env.conf
!waybar
!waybar/**
!dunst
!dunst/**
!wofi
!wofi/**
!swaylock
!swaylock/**
!foot
!foot/**
!ags
!ags/**
ags/style.css
