$icon_size: 2.5em;

window#notifications {
    all: unset;
}

window#notifications box.notifications {
    padding: .5em;
}

.icon {
    min-width: $icon_size;
    min-height: $icon_size;
    margin-right: 1em;
}

.icon image {
    font-size: $icon_size;
    /* to center the icon */
    margin: 5px;
    color: $theme_fg_color;
}

.icon box {
    min-width: $icon_size;
    min-height: $icon_size;
    border-radius: 7px;
}

.notification {
    min-width: 350px;
    border-radius: 11px;
    padding: 1em;
    margin: .5em;
    border: 1px solid $wm_borders_edge;
    background-color: $theme_bg_color;
}

.notification.critical {
    border: 1px solid lightcoral;
}

.title {
    color: $theme_fg_color;
    font-size: 1.2em;
}

.body {
    color: $theme_unfocused_fg_color;
    font-size: 1em;
}

.actions .action-button {
    margin: 0 .4em;
    margin-top: .8em;
}

.actions .action-button:first-child {
    margin-left: 0;
}

.actions .action-button:last-child {
    margin-right: 0;
}

#notification-center {
    background-color: $theme_bg_color;
}

.notification-button {
    border: none;
    box-shadow: none;
    border-radius: 7px;
    background-color: rgba(255,255,255, 0.1);
    margin-left: 8px;
}

.notification-button:hover {
    background-color: rgba(255,255,255, 0.2);
    border-bottom: 0px;
}

.notification-button:active {
    background-color: rgba(255,255,255, 0.3);
}

.list {
    margin: 8px;
    min-width: 30em;
}

.header {
    padding: 8px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.placeholder image {
    font-size: 2em;
}

.placeholder label {
    font-size: 1em;
}